* {
    margin: 0;
    padding: 0;
}

div {
    font-family: Aquatico;
}

/* ------------------------------- LANDING PAGE CONTAINER ---------------------- */
.landingPageContainer{

    background: linear-gradient(#237fe2, #fa9e50);    
    margin: 0px;
    font-family: Arial, sans-serif;
    
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will take the full viewport height */
}

/* ============================================================================= */

/* ---------------------------- NAVBAR MELLOWMIND ------------------------------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh
}

.title-container {
    display: flex;
    align-items: center; /* To vertically center the image and title */
    gap: 10px; /* Space between the image and title */
    color: white;
}


img{
    width:auto;
    height:100px;
}

/* ============================================================================= */


/* ------------------------------- SIGN IN BUTTON STYLES -------------------------------- */

.signin-link {
    position: relative;
    display: inline-block;
    padding: 20px 35px;
    /* margin: 0px 0; */
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    margin-right: 25px;
    border: 2px solid#03e9f4;
    box-shadow: 3px 3px 3px #03e9f4;
}

.signIn-button-google {
    display: flex;
}

.signin-link:hover {
    background: #03e9f4;
    color: black;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
        0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    cursor: pointer;
}

.signin-link span {
    position: absolute;
    display: block;
}

.signin-link span:nth-child(1),
.signin-link span:nth-child(2),
.signin-link span:nth-child(3),
.signin-link span:nth-child(4) {
    background: linear-gradient(90deg, transparent, black);
}
/* ================================================================================ */


/* ------------------------------- CAROUSEL IMAGES----------------------------- */

.carousel-container {
    width: 100%;
    min-width: 600px;
    margin: 0 0;
    overflow: hidden;
}

.carousel-container img {
    width: auto;
    display: block;
    height: auto;
    width: 100vw;
    
}

/* Navigation dots in the carousel images */
.carousel-dots {
    text-align: center;
    padding: 10px 0;
}

.dot {
    width: 15px;
    height: 15px;
    background: #ddd;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
    display:none
}

.dot.active {
    background: #555;  /* Change to desired active color */
}

/* ================================================================== */



.google-G{
    color: #e92f29
}
b{
    font-weight: bolder;
}

.infos{
    margin: 10px auto;
    text-align: center;
    line-height: 5rem;
    color: rgb(255, 255, 255);
}

.spinner{
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.instructions{
    font-family: Aquatico;
    letter-spacing: 5px;
}