@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  z-index: 1;
}
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

@keyframes pulsate {
  0%,
  100% {
    opacity: 0.2;
  }
  40%,
  60% {
    opacity: 1;
  }
}
/* FONTS */
@font-face {
  font-family: "Aquatico";
  src: local("Aquatico"), url("./fonts/Aquatico-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MoonReg";
  src: local("MoonReg"), url("./fonts/Moon2.0-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MoonBold";
  src: local("MoonBold"), url("./fonts/Moon2.0-Bold.otf") format("opentype");
}
@font-face {
  font-family: "RadioLandSlim";
  src: local("RadioLandSlim"),
    url("./fonts/RADIOLANDSLIM.ttf") format("truetype");
}
@font-face {
  font-family: "RadioLand";
  src: local("RadioLand"), url("./fonts/RADIOLAND.TTF") format("truetype");
}

/* STYLE */
body {
  margin: 0;
  height: 100%;
  background: radial-gradient(#e66465, #9198e5);
}

* {
  font-family: MoonReg;
  letter-spacing: 0.01rem;
}

h1 {
  font-family: MoonBold;
  font-size: 2.4rem;
  letter-spacing: 0;
}

/* Background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  background-color: transparent;
  padding: 12px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* ================ Sound Board =================== */
.soundboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  overflow: hidden;
}

.soundboard {
  text-align: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 5rem;
  padding: 10px;
  border: 2px solid #ffffff; /* Fall theme color - you can choose your desired color */
  border-radius: 10px;
  /* background-color: transparent; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 650px;
  width: 100%;
}

.soundboard-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.timer-section,
.selected-songs-section,
.sound-buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/* live clock */
.clock-section {
  align-items: center;
  margin-bottom: 0.5rem;
}
.live-timer {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  width: 8rem;
  border-radius: 20%;
  border: 2px solid #d47b3e;
  align-self: center;
  margin: 0 auto;
}
.digital-clock {
  font-family: RadioLand;
  font-size: 2rem;
}

/* ---------------- SELECTED SONGS BUTTON CSS---------- */

a {
  position: relative;
  display: inline-block;
  padding: 30px 35px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
  margin-right: 50px;
}

a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

a:nth-child(1) {
  filter: hue-rotate(270deg);
}

a:nth-child(2) {
  filter: hue-rotate(110deg);
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.selected-songs a.active {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}

.selected-songs {
  display: flex;
  justify-content: space-between;
  /* margin: 20px 0; Adjust spacing as needed */
}

/* ---------------------------------------------------- */

.sound-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-button {
  border-radius: 10%;
  width: 100px;
  height: 100px;
  border: none;
  background-color: #e39157; /* Fall theme color - you can choose your desired color */
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.round-button:hover {
  background-color: #d47b3e; /* Darker shade for hover effect */
}

.toggle-soundboard {
  padding: 8px 16px;  /* Adjust as needed */
  background-color: #e39157;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Optional: adds a smooth color transition */
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}

.toggle-soundboard:hover {
  background-color: #ff9933;  /* A slightly different shade of orange */
}

.sound-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.master-pause {
  margin-top: 20px;
  border-radius: 10%;
  border: none;
  background-color: #e39157;
  width: 100px;
  height: 50px;
  color: white;
  cursor: pointer;
}

.master-pause:hover {
  background-color: #d47b3e;
}

input[type="range"] {
  /* Set the track color to the fall-themed color */
  --track-color: #e39157;
  /* Set the thumb color to a slightly darker shade */
  --thumb-color: #d47b3e;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  /* Use a small white outline */
  border: 1px solid #ffffff;
  /* Set the track color to the fall-themed color */
  background: var(--track-color);
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  /* Style the thumb with a white outline */
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  margin-top: -5px;
  background: var(--thumb-color);
  border-radius: 50%;
  border: 1px solid #ffffff;
  cursor: pointer;
}

/* ////////// */

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  /* font-family: Aquatico; */
  font-weight: 300;
  font-size: 35px;
  width: 40px;
  height: 40px;
  color: #e39157;
  cursor: pointer;
  pointer-events: auto;
  align-items: center;
}
button[data-setter]:hover {
  opacity: 0.5;
}

.setters {
  position: absolute;
  left: 85px;
  top: 75px;
  top: 13%;
}
.minutes-set {
  float: left;
  margin-right: 28px;
}
.seconds-set {
  float: right;
}

.controlls {
  position: absolute;
  text-align: center;
  top: 20%;
  transform: translateX(-50%) translateY(-50%);
}

.display-remain-time {
  font-weight: 100;
  font-family: "Roboto";
  font-size: 65px;
  color: #e39157;
  background: none;
  border: none;
  outline: none;
  text-align: center;
  width: 150px; /* Adjust as needed */
}

#pause {
  outline: none;
  background: transparent;
  border: none;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}
.play::before {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 22px solid #e39157;
}
.pause::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;
  width: 15px;
  height: 30px;
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #e39157;
  border-top: none;
  border-bottom: none;
}
#pause:hover {
  opacity: 0.8;
}
.e-c-base {
  fill: none;
  stroke: #b6b6b6;
  stroke-width: 4px;
}
.e-c-progress {
  fill: none;
  stroke: #e39157;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}
.e-c-pointer {
  fill: #fff;
  stroke: #e39157;
  stroke-width: 2px;
}
#e-pointer {
  transition: transform 0.7s;
}

.circle {
  position: relative; /* Makes the circle a reference for absolute positioning */
  width: 300px; /* Adjust based on your SVG width or desired size */
  margin: 0 auto; /* Centers the circle horizontally within its parent */
  z-index: 0;
}

.setters,
.controlls {
  position: absolute;
  left: 50%;
  z-index: 1;
  transform: translateX(
    -50%
  ); /* Centers the elements horizontally with respect to the circle */
}

.message {
  animation: pulsate 5s infinite;
  font-size: larger;
}

/* ... your existing styles ... */

.reset-button {
  outline: none;
  background: transparent;
  border: none;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  position: relative;
}

.reset-button:hover {
  opacity: 0.8;
}

.reset-button .fa-refresh {
  font-size: 24px; /* adjust the size as necessary */
  color: #e39157; /* color as other buttons */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centers the icon */
}

.minutes-set,
.seconds-set {
  width: 4rem;

  height: 4rem;
}

/* =============================== EVERYTHING THAT HAS TO DO WITH THE SIDEBAR ========================== */

/* App.css */
.sidebar-left {
  position: fixed; /* Change from absolute to fixed */
  left: 0;
  top: 0;
  height: 100%;
  z-index: 3;
  width: 300px; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* For scrolling if the list is long */
  transition: left 0.7s; /* Add transition for smooth animation */
}

/* BACKGROUND CHANGE FOR VIDEOS */

.video-option {
  color: lightgray;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px; /* Increase font size */
}

.video-option:hover {
  text-decoration: underline;
}

.video-option-head {
  color: lightgray;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 18px; /* Increase font size */
  text-align: center;
}
.sound-select {
  margin: 20px;
}

.sidebar-left.hidden {
  left: -300px; /* Width of the sidebar */
}

.sidebar-toggle {
  position: fixed; /* Change from absolute to fixed */
  left: 300px; /* Adjust left position */
  top: 30%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: lightgray;
  border: none;
  cursor: pointer;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  transition: left 0.7s; /* Add transition for smooth animation */
  border-radius: 0 30px 30px 0;
  width: 3rem;
  z-index: 3;
}

/* This will move the button along with the sidebar when the sidebar is hidden */
.sidebar-toggle.hidden {
  left: 0px;
}



 /* ---------------------------------------------- todo list ------------------------------ */
 .todo-list .tasks-button {
  position: absolute; /* Change to absolute */
  top: 300px; /* Position from the top */
  left: 15px; /* Adjust this to match your sidebar's position */
  z-index: 1001; /* Ensure the button appears above the sidebar */
  width: 250px; /* Making the button wider */
  height: 40px; /* Adjusting the height */
  border-radius: 20px; /* Making the button rounder */
  text-align: center; /* Centering the text inside the button */
  line-height: 40px; /* Aligning the text vertically */
}


.todo-list .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 600px;
  height: 300px;
  height: auto;
}

/* You might need to tweak these styles to fit your app's theme */
.todo-list button {
  margin: 5px;
}


.todo-list li {
  display: flex;
  justify-content: space-between; /* Aligns content on the left and right */
  align-items: center; /* Centers items vertically */
  border: 1px solid #ccc;
  padding: 5px;
}

.todo-list .delete-button {
  background: none; /* Remove any default background */
  border: none; /* Remove any default border */
  font-size: 18px; /* Adjust size of trash can symbol */
  color: red; /* You can set a color for the trash can symbol */
  cursor: pointer; /* Change cursor to pointer on hover */
}


.todo-list .tasks-border {
  position: absolute;
  top: 350px;
  left: 10px;
  z-index: 1000;
  max-height: 230px; /* Set the maximum height you want */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ccc;
  padding: 10px;
  width: 280px;
  color: white;
}



.todo-list .popup-title {
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the title bold */
  text-align: center; /* Center the title */
  margin: 10px 0; /* Add some margin around the title */
  top: -10px;
}


.todo-list button {
  margin: 5px;
}

.todo-list .task-input {
  width: 100%; /* Make the input span the whole width */
  height: 30px;
  border: 1px solid #ccc; /* Add a border to match the popup */
  padding: 5px; /* Add some padding for better appearance */
}

.todo-list .popup-buttons {
  display: flex;
  justify-content: space-between;
}

.todo-list .add-button {

  padding: 5px;
  text-align: center; /* Centering the "+" symbol */
}

.todo-list .cancel-button {
  text-align: center; /* Centering the "+" symbol */
  padding: 5px;
}


.border-title {
    text-align: center; /* Centering the "+" symbol */
}

.todo-list .task-row {
  display: flex;
  align-items: flex-start; /* Align to the top */
  padding: 5px;
  flex-wrap: nowrap; /* Ensures flex items stay on a single line */
}

.todo-list .task-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  margin-right: 10px;
  flex-shrink: 0; /* Prevents shrinking */
}

.todo-list .task-content {
  color: white;
  word-wrap: break-word; /* Break long words to the next line */
  overflow-wrap: break-word;
  flex-grow: 1; /* Allows the text to take remaining space */
  max-width: calc(100% - 30px); /* Limits the width, considering the circle and margin */
}


.todo-list .task-circle.selected {
  background-color: #007bff; /* You can change this to any color you like */
}

.selected-task-display {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px; /* Adjust as needed */
  font-weight: bold;
  color: white; /* Adjust the color as needed */
  text-align: center; /* Ensure the text is centered horizontally */

}


.tasks-border {
  position: relative;
}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-content-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 30px); /* Adjust based on the size of the delete icon */
  flex-wrap: wrap;
}

.task-delete {
  color: #F44336;
  cursor: pointer;
  width: 20px; /* Adjust based on the size of the delete icon */
  text-align: right;
  /* You can customize the color, size, etc. as needed */
}
/* ---------------------------------- LOGOUT/SIGNIN BUTTON STYLE -------------------------------- */
/* Logout Link Styles */

.logout-link-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.logout-link {
  position: relative;
  display: inline-block;
  padding: 20px 35px;
  /* margin: 40px 0; */
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
  margin-right: 50px;
  margin-bottom: 45px;
}

.logout-link:hover {
  background: red;
  color: black;
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 200px red;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  cursor: pointer;
}

/* Reusing the animation styles for the logout link */
.logout-link span {
  position: absolute;
  display: block;
}

.logout-link span:nth-child(1),
.logout-link span:nth-child(2),
.logout-link span:nth-child(3),
.logout-link span:nth-child(4) {
  background: linear-gradient(90deg, transparent, black);
}

/* =============================================================================== */

.settings-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
}

.settings-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

.settings-btn {
  background: none;
  border: none;
  cursor: pointer;
}


.collapsed .toggle-controls-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.hidden {
  display: none;
}

.transition-all {
  transition: all 0.3s ease;
}

